<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>FastJack Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>at.fastjack.colloquy.style.clean2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Clean 2</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
	<key>JVStyleDescription</key>
	<string>Get ready for awesome</string>
	<key>NSHumanReadableCopyright</key>
	<string>Aditya Mukherjee</string>
</dict>
</plist>
